body{
    background-color: black;
}
#heading{
    font-size: 150%;
}
img{
    margin-left: 8px;
    
    padding: 0.2%;
    border-radius: 3%;
}
.genre{
    margin-left: 30%;
    font-size: 160%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:gold;
}
#genrelist{
    width: 80%;
    background-color: rgb(39, 35, 35);
    margin-left: 8%;
    border-radius: 2%;
    margin-top: -5px;
}
#title{
    color: gold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 100px;
}
#intro{
    color: yellow;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
}
img:hover{
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.genre:hover{
    color: gold;
}
#dis1{
    display: flex;
    justify-content: space-between;
    margin-left: 15%;
    margin-right: 15%;
}
#dis2{
    display: flex;
    justify-content: space-between;
    margin-left: 15%;
    margin-right: 15%;
}
#dis3{
    display: flex;
    margin: auto;
    justify-content: center;        
}
#foot{
    background-color: rgb(17, 17, 17);
    margin-top: 50px;
}
#links{
    display: flex;
}

.about{
    font-size: 50px;
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    
}

.about:hover{
    color: blue;
}

.facebook{
    width: 150px;
    height: 100px;
    color: white;
}

.instagram{
    width: 150px;
    height: 100px;
    color: white;
}

.facebook:hover, .instagram:hover{
    color: blue;
}
#links{
    display: flex;
    justify-content: center;
    align-items: center;
}